.destinations {
  padding-bottom: 80px;

  &__container {
    padding: 0;
  }

  &__content {
    height: 844px;
    margin-top: 46px;
  }

  &__slide {
    text-align: center;
    width: 800px !important;
    transform: translateX(37.5%);
    cursor: pointer;
  }

  &__pagination {
    position: relative;
    text-align: center;
  }

  &__more-inner {
    margin-top: 39px;
    text-align: center;
  }

  &__more {
    display: inline-flex;
    align-items: center;
    padding: 10px 32px;

    &:hover {
      background-color: var(--orange-color);
    }

    svg {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      fill: var(--light-color);
    }
  }
}

.swiper {
  &-slide {
    width: 100%;

    picture img {
      position: relative;
      border-radius: 16px;
    }

    &__text {
      position: absolute;
      left: 15px;
      bottom: 85px;
      font-size: 32px;
      line-height: 42px;
      color: var(--light-color);
      text-transform: uppercase;
    }
  }

  &-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: var(--orange-color);
    opacity: 0.5;
    transition: all .1s;

    &-active {
      opacity: 1;
    }
  }
}

.destinations__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  z-index: 15;
  bottom: 20px;
}
