.destinations {
  padding-bottom: 80px;

  &__container {
    padding: 0;

    @include xxl {
      padding: 0 100px;
    }

    @include lg {
      padding: 0 15px;
    }
  }

  &__title {
    margin-bottom: 46px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__content {
    height: 844px;

    @include lg {
      height: auto;
    }

    @include mobile-mini {
      margin-bottom: 10px;
      min-height: 203px;
      height: 203px;
    }

    .destinations__slide-desktop {
      img {
        @include mobile-mini {
          min-height: 203px;
          height: 100%;
        }
      }
    }

  }

  &__slide {
    text-align: center;
    width: 800px !important;
    transform: translateX(37.5%);
    cursor: pointer;

    &-inner {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: fit-content;
    }

    @include xxl {
      width: 100% !important;
      transform: translateX(0);
    }
  }

  &__pagination {
    position: relative;
    text-align: center;
  }

  &__more-inner {
    margin-top: 39px;
    text-align: center;

    @include small-tablet {
      margin-top: 0px;
    }
  }

  &__more {
    display: inline-flex;
    align-items: center;
    padding: 10px 32px;

    &:hover {
      background-color: var(--orange-color);
    }

    svg {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      fill: var(--light-color);

      @include small-tablet {
        width: 20px;
        height: 20px;
      }

      @include mobile {
        margin-right: 6px;
        width: 15px;
        height: 15px;
      }
    }

    @include small-tablet {
      padding: 10px 20px;
      font-size: 16px;
      line-height: 20px;
    }

    @include mobile {
      padding: 8px 12px;
      font-size: 11px;
      line-height: 15px;
    }
  }

  @include small-tablet {
    padding-bottom: 30px;
  }
}


.swiper {
  &-slide {
    width: 100%;

    picture img {
      position: relative;
      border-radius: 16px;
    }

    &__text {
      position: absolute;
      left: 15px;
      bottom: 40px;
      font-size: 32px;
      line-height: 42px;
      color: var(--light-color);
      text-transform: uppercase;

      @include small-tablet {
        top: 15px;
        bottom: auto;
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  &-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: var(--orange-color);
    opacity: 0.5;
    transition: all .1s;

    &-active {
      opacity: 1;
    }

    @include lg {
      width: 15px;
      height: 15px;
    }

    @include mobile {
      width: 8px;
      height: 8px;
    }
  }
}

.destinations__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  z-index: 15;
  bottom: 20px;

  @include lg {
    bottom: 40px;
  }

  @include mobile-mini {
    bottom: 30px;
  }
}

.destinations-next-btn {
  display: none;
  position: absolute;
  right: 5px;
  top: 50%;
  z-index: 100;
  transition: all .3s ease;
  transform: translateY(-50%);

  svg {
    width: 30px;
    height: 30px;
    fill: var(--orange-color);
    opacity: 0.5;
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }

  &:active {
    svg {
      opacity: 1;
    }
  }

  @include small-tablet {
    display: block;
  }
}

.destinations-prev-btn {
  display: none;
  position: absolute;
  left: 5px;
  top: 50%;
  z-index: 100;
  transition: all .3s ease;
    transform: translateY(-50%);

  svg {
    width: 30px;
    height: 30px;
    fill: var(--orange-color);
    transform: rotate(180deg);
    opacity: 0.5;
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }

  &:active {
    svg {
      opacity: 1;
    }
  }

  @include small-tablet {
    display: block;
  }
}
