.stories {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 93px;
    width: 100%;
    height: 100%;
    background-image: url("../img/footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include small-tablet {
      top: 60px;
      height: calc(100% + 60px);
    }

    @include mobile {
      top: 50px;
      height: calc(100% + 50px);
    }

    @include mobile-mini {
      background-image: url("../img/footer-mobile.jpg");
    }
  }



  &__overlay--white {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 93px;
      bottom: 0px;
      width: 100%;
      height: auto;
      background: rgba(255, 255, 255, 0.7);

      @include small-tablet {
        top: 60px;
      }

      @include mobile {
        top: 50px;
      }

    }
  }

  &__list {
    margin-bottom: 39px;
  }

  &__inner {
    padding: 80px 0;

    @include small-tablet {
      padding: 40px 0;
    }

    @include mobile {
      padding: 50px 0;
    }
  }

  &__item {
    display: flex;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    padding: 10px 37px;

    &:hover {
      background-color: var(--orange-color);
    }

    &-inner {
      position: relative;
      z-index: 5;
      text-align: center;

    }

    svg {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      fill: var(--light-color);

      @include small-tablet {
        width: 20px;
        height: 20px;
      }

      @include mobile {
        margin-right: 6px;
        width: 15px;
        height: 15px;
      }
    }

    @include small-tablet {
      padding: 10px 20px;
      font-size: 16px;
      line-height: 20px;
    }

    @include mobile {
      padding: 8px 12px;
      font-size: 11px;
      line-height: 15px;
    }
  }

  @include small-tablet {
    margin-top: 10px;
  }
}

.card {
  &:not(:last-child) {
    margin-bottom: 30px;

    @include small-tablet {
      margin-bottom: 10px;
    }
  }

  &__left {
    margin-right: 40px;
    width: 33.4%;
    height: 250px;

    picture img {
      filter: drop-shadow(0px 4px 4px #0D606F);
      border-radius: 16px;
      transition: all .3s;

      &:hover {
        transform: scale(1.07);
      }
    }

    @include xl {
      margin-right: 3%;
      width: 40%;
      height: auto;
    }

    @include mobile {
      margin-right: 0;
      width: 44%;
    }
  }

  &__right {
    width: 63%;

    @include xl {
      width: 57%;
    }

    @include mobile {
      margin-left: 2.5%;
      width: 55.5%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;

    @include xxl {
      font-size: 30px;
      line-height: 38px;
    }

    @include lg {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    @include mobile {
      font-size: 11px;
      line-height: 13px;
    }
  }

  &__descr {
    margin: 0;
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    @include xxl {
      font-size: 18px;
      line-height: 20px;
    }

    @include lg {
      font-size: 14px;
      line-height: 16px;
    }

    @include mobile {
      overflow-y: scroll;
      height: 90px;
      font-size: 9px;
      line-height: 11px;
    }
  }

  &__link-more {
    font-family: 'Aleo';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline;
    transition: all .3s;

    &:hover {
      color: var(--orange-color);
    }

    @include lg {
      font-size: 14px;
      line-height: 16px;
    }

    @include mobile {
      font-size: 9px;
      line-height: 11px;
    }
  }
}
