<section class="destinations" id="destinations">
  <div class="container destinations__container">
    <h2 class="destinations__title title">Popular destinations</h2>
    <div class="swiper destinations__content">
      <button class="destinations-next-btn btn-reset" aria-label="Next slide">
        <svg>
          <use xlink:href="img/sprite.svg#slider-right"></use>
        </svg>
      </button>
      <button class="destinations-prev-btn btn-reset" aria-label="Previous slide">
        <svg>
          <use xlink:href="img/sprite.svg#slider-right"></use>
        </svg>
      </button>
      <div class="swiper-wrapper">
         <div class="swiper-slide destinations__slide">
            <div class="destinations__slide-inner">
              <picture class="destinations__slide-desktop">
                <source srcset="img/spain-mobile.avif" media="(max-width: 390px)" type="image/avif">
                <source srcset="img/spain-mobile.webp" media="(max-width: 390px)" type="image/webp">
                <source srcset="img/spain-mobile.jpg" media="(max-width: 390px)">
                <source srcset="img/spain.avif" type="image/avif">
                <source srcset="img/spain.webp" type="image/webp">
                <img loading="lazy" src="img/spain.jpg" class="image" width="800" height="800" alt="A popular attraction in Spain">
              </picture>
              <span class="swiper-slide__text">Spain</span>
            </div>
         </div>
         <div class="swiper-slide destinations__slide">
            <div class="destinations__slide-inner">
                <picture class="destinations__slide-desktop">
                  <source srcset="img/japan-mobile.avif" media="(max-width: 390px)" type="image/avif">
                  <source srcset="img/japan-mobile.webp" media="(max-width: 390px)" type="image/webp">
                  <source srcset="img/japan-mobile.jpg" media="(max-width: 390px)">
                  <source srcset="img/japan.avif" type="image/avif">
                  <source srcset="img/japan.webp" type="image/webp">
                  <img loading="lazy" src="img/japan.jpg" class="image" width="800" height="800" alt="A popular attraction in Japan">
                </picture>
                <span class="swiper-slide__text">Japan</span>
            </div>
         </div>
         <div class="swiper-slide destinations__slide">
            <div class="destinations__slide-inner">
                <picture class="destinations__slide-desktop">
                  <source srcset="img/usa-mobile.avif" media="(max-width: 390px)" type="image/avif">
                  <source srcset="img/usa-mobile.webp" media="(max-width: 390px)" type="image/webp">
                  <source srcset="img/usa-mobile.jpg" media="(max-width: 390px)">
                  <source srcset="img/usa.avif" type="image/avif">
                  <source srcset="img/usa.webp" type="image/webp">
                  <img loading="lazy" src="img/usa.jpg" class="image" width="800" height="800" alt="A popular attraction in USA">
                </picture>
                <span class="swiper-slide__text">usa</span>
            </div>
         </div>
      </div>
      <div class="destinations__pagination"></div>
    </div>
    <div class="destinations__more-inner">
      <button class="destinations__more main-btn btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
        Find More
      </button>
    </div>
  </div>
</section>
