<section class="destinations">
  <div class="container destinations__container">
    <h2 class="destinations__title title">Popular destinations</h2>
    <div class="swiper destinations__content">
      <div class="swiper-wrapper">
         <div class="swiper-slide destinations__slide">
            <picture>
              <source srcset="img/spain.avif" type="image/avif">
              <source srcset="img/spain.webp" type="image/webp">
              <img loading="lazy" src="img/spain.jpg" class="image" width="800" height="800" alt="SPAIN">
            </picture>
            <span class="swiper-slide__text">Spain</span>
         </div>
         <div class="swiper-slide destinations__slide">
            <picture>
              <source srcset="img/japan.avif" type="image/avif">
              <source srcset="img/japan.webp" type="image/webp">
              <img loading="lazy" src="img/japan.jpg" class="image" width="800" height="800" alt="JAPAN">
            </picture>
            <span class="swiper-slide__text">Japan</span>
         </div>
         <div class="swiper-slide destinations__slide">
            <picture>
              <source srcset="img/usa.avif" type="image/avif">
              <source srcset="img/usa.webp" type="image/webp">
              <img loading="lazy" src="img/usa.jpg" class="image" width="800" height="800" alt="USA">
            </picture>
            <span class="swiper-slide__text">usa</span>
         </div>
      </div>
      <div class="destinations__pagination"></div>
    </div>
    <div class="destinations__more-inner">
      <a class="destinations__more main-link">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
        Find More
      </a>
    </div>
  </div>
</section>
