<footer class="footer">
  <div class="container footer__container">
    <div class="footer__span">dawdwad</div>
    <div class="footer__text">
      <span>All Rights Reserved © Travel Portal</span>
    </div>
    <ul class="footer__social list-reset social">
      <li class="footer__item social__item">
        <a class="footer__link social__inst" href="#" aria-label="We're on Instagram">
          <svg>
            <use xlink:href="img/sprite.svg#inst"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item social__item">
        <a class="footer__link social__youtube" href="#" aria-label="We're on YouTube">
          <svg>
            <use xlink:href="img/sprite.svg#tube"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item social__item">
        <a class="footer__link social__twitter" href="#" aria-label="We're on Twitter">
          <svg>
            <use xlink:href="img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
