<header class="header">
  <div class="container header__container">
    <a class="logo" href="">
      <img loading="lazy" src="img/svg/logo.svg" width="216" height="31" alt="Travel Portal">
    </a>
    <nav class="nav" title="Главное меню">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link" href="#">How It Works</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Plan Your Trip</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Destinations</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Travel Stories</a></li>
      </ul>
    </nav>
    <button class="header__login btn-reset main-link">Login</button>
  </div>
</header>
