<header class="header">
  <div class="container header__container">
    <a class="logo" href="#">
      <picture>
        <source srcset="img/svg/logo-mobile.svg" width="29" height="30" alt="Travel Portal" media="(max-width: 576px)">
        <img class="logo__desktop" loading="lazy" src="img/svg/logo.svg" width="216" height="31" alt="Travel Portal">
      </picture>
      <!-- <img class="logo__mobile" loading="lazy" src="img/svg/logo-mobile.svg" width="29" height="30" alt="Travel Portal"> -->
    </a>
    <nav class="nav" title="Главное меню" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link" href="#" data-menu-item data-scroll>How It Works</a></li>
        <li class="nav__item"><a class="nav__link" href="#steps" data-menu-item data-scroll>Plan Your Trip</a></li>
        <li class="nav__item"><a class="nav__link" href="#destinations" data-menu-item data-scroll>Destinations</a></li>
        <li class="nav__item"><a class="nav__link" href="#stories" data-menu-item data-scroll>Travel Stories</a></li>
        <li class="nav__item nav__item-mobile"><a class="nav__link" href="#" data-menu-item data-scroll data-graph-path="login">Account</a></li>
        <li class="nav__item nav__item-mobile"><a class="nav__link" href="#" data-menu-item data-scroll>Social Media</a></li>
      </ul>
    </nav>
    <button class="header__login btn-reset main-btn" data-graph-path="login">Login</button>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
