<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Frontend-разработчик: Верзаков Денис">
  <meta name="description" content="...">
  <meta name="keywords" content="...">
  <meta name="copyright" content="©">
  <meta name="theme-color" content="#111111">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>Travel</title>
  <link rel="preload" href="fonts/RedHatTextRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RedHatTextMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/AleoRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/AleoBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/AleoItalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
