<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">
    Explore the beauty&nbsp;of the World</h1 >
    <p class="hero__descr" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">
      Receive personalized recommendations for countries, hotels, activities and more
    </p>
    <div class="hero__start-planning start-planning" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="true">
      <input class="start-planning__input input-reset" type="text" placeholder="What would you like to do?">
      <button class="start-planning__btn main-btn btn-reset">Start Planning</button>
    </div>
  </div>
</section>
