<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="login">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <h3 class="popup__title">Log in to your account</h3>
        <div class="popup__btns">
          <button class="popup__btn-facebook btn-reset">
            <svg class="">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
            Sign In with Facebook
          </button>
          <button class="popup__btn-google btn-reset">
            <img loading="lazy" src="img/svg/google.svg" class="image" width="24" height="24" alt="">
            Sign In with Google
          </button>
        </div>
      </div>
      <div class="popup__center">
        <span>or</span>
      </div>
      <div class="popup__bottom">
        <form class="form">
          <div class="form__group">
            <input class="form__input email-input" type="text" placeholder=" ">
            <label class="form__label">Email</label>
          </div>
          <div class="form__group">
            <input class="form__input password-input" type="password" placeholder=" ">
            <label class="form__label">Password</label>
          </div>
          <button class="form__btn btn-reset">Sign in</button>
          <div class="form__link-center">
            <a class="form__link" href="#">Forgot Your Password?</a>
          </div>
          <span class="bottom-line">s</span>
          <div class="form__register-center register">
            <span>Don’t have an account?</span>
            <a class="register__link" href="">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
