<section class="steps" id="steps">
  <div class="container steps__container">
    <h2 class="steps__title title">
      3 STEPS TO THE PERFECT TRIP
    </h2>
    <ul class="steps__list list-reset">
      <li class="steps__item">
        <div class="steps__image">
          <svg>
            <use xlink:href="img/sprite.svg#bicyclist"></use>
          </svg>
        </div>
        <div class="steps__text">Tell us what you want to do</div>
      </li>
      <li class="steps__item">
        <div class="steps__image">
          <svg>
            <use xlink:href="img/sprite.svg#dates"></use>
          </svg>
        </div>
        <div class="steps__text">Share us preferable dates</div>
      </li>
      <li class="steps__item">
        <div class="steps__image">
          <svg>
            <use xlink:href="img/sprite.svg#plane"></use>
          </svg>
        </div>
        <div class="steps__text">We will give you recommendations</div>
      </li>
    </ul>
  </div>
</section>
