<section class="stories">
  <div class="stories__overlay--white">
    <div class="container stories__container">

      <div class="stories__inner">
        <ul class="stories__list list-reset">
          <li class="stories__item card">
            <div class="card__left">
              <picture>
                <source srcset="img/1.avif" type="image/avif">
                <source srcset="img/1.webp" type="image/webp">
                <img loading="lazy" src="img/1.png" class="image" width="400" height="250" alt="">
              </picture>
            </div>
            <div class="card__right">
              <h4 class="card__title">10 Photos of Attractive Thailand</h4>
              <p class="card__descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </p>
              <a class="card__link-more" href="#">Read More</a>
            </div>
          </li>
          <li class="stories__item card">
            <div class="card__left">
              <picture>
                <source srcset="img/2.avif" type="image/avif">
                <source srcset="img/2.webp" type="image/webp">
                <img loading="lazy" src="img/2.png" class="image" width="400" height="250" alt="">
              </picture>
            </div>
            <div class="card__right">
              <h4 class="card__title">Canyonlands National Park, Utah</h4>
              <p class="card__descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </p>
              <a class="card__link-more" href="#">Read More</a>
            </div>
          </li>
          <li class="stories__item card">
            <div class="card__left">
              <picture>
                <source srcset="img/3.avif" type="image/avif">
                <source srcset="img/3.webp" type="image/webp">
                <img loading="lazy" src="img/3.png" class="image" width="400" height="250" alt="">
              </picture>
            </div>
            <div class="card__right">
              <h4 class="card__title">I left my heart in the Mountains!</h4>
              <p class="card__descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </p>
              <a class="card__link-more" href="#">Read More</a>
            </div>
          </li>
          <li class="stories__item card">
            <div class="card__left">
              <picture>
                <source srcset="img/4.avif" type="image/avif">
                <source srcset="img/4.webp" type="image/webp">
                <img loading="lazy" src="img/4.png" class="image" width="400" height="250" alt="">
              </picture>
            </div>
            <div class="card__right">
              <h4 class="card__title">The Longest journey in my life!</h4>
              <p class="card__descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit...
              </p>
              <a class="card__link-more" href="#">Read More</a>
            </div>
          </li>
        </ul>
        <div class="stories__link-inner">
          <a class="stories__link main-link" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
            See More
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container footer__container">
      <div class="footer__span">dawdwad</div>
      <div class="footer__text">
        <span>All Rights Reserved © Travel Portal</span>
      </div>
      <div class="footer__social social">
        <div class="footer__item social__inst">
          <svg>
            <use xlink:href="img/sprite.svg#inst"></use>
          </svg>
        </div>
        <div class="footer__item social__youtube">
          <svg class="">
            <use xlink:href="img/sprite.svg#tube"></use>
          </svg>
        </div>
        <div class="footer__item social__twitter">
          <svg>
            <use xlink:href="img/sprite.svg#twitter"></use>
          </svg>
        </div>
      </div>
    </div>
  </footer>

</section>
